.App {
  text-align: center;
  margin-top: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-title {
  font-size: 2rem;
  color: #FFF; 
  margin-bottom: 0;
}

.student-name {
  font-size: 1.5rem;
  color: #FFF; 
  margin-bottom: 20px;
}

input {
  margin: 10px;
  padding: 10px;
  width: 20%;
}

button {
  padding: 10px;
  width: 10%;
  cursor: pointer;
}

label {
  margin-top: 20px;
  color: #FFF;
}
